.supersaiyan {
  color: yellow;
}

.namekiano {
  color: green;
}

.poster {
  width: 200px
}

body {
background-color: black;
color: white;
padding: 30px;
}

.border {
  border: 2px solid white;
  padding: 20px;
}